.generator-container {
    height: 100%;
    width: 100%;
    border: solid 1px;
    border-radius: 20px;
    background-color: mediumpurple;
}

label {
    color: white;
}

button {
    color: white !important;
    background-color: rebeccapurple !important;
    border-color: rebeccapurple !important;
    margin-left: 20px !important;
}

button:hover {
    background-color: lightpink !important;
    border-color: lightpink !important;
}

#password-range {
    width: 400px;
    margin-right: 20px;
}